


<!-- Dynamic title -->
<h1 id="Title">{{ title }}</h1>

<!-- Content of webpage -->
<main>
  <section>
    <h2>Our Story</h2>
    <p id="description">
      Our story began as a passion project by a group of visionary university students determined to revolutionize the way talent meets tech in the job market.
      <!-- ... (rest of your content) ... -->
    </p>
  </section>
  <br>

  <section>
    <h2>Our Mission</h2>
    <p id="description">
      At Tech Jobs Hub, our mission is to connect exceptional tech talent with innovative companies, fostering a dynamic ecosystem that drives technological advancements and propels careers to new heights.
    </p>
  </section>
  <br>
</main>

<br>
<br>
<br>


