@charset "UTF-8"; 

body
{ 
    background: #0378A6; 
    background: -moz-linear-gradient(top, #011C40 0%, #0378A6 100%); 
    background: -webkit-linear-gradient(top, #011C40 0%, #0378A6 100%); 
    background: -o-linear-gradient(top, #011C40 0%, #0378A6 100%); 
    background: linear-gradient(to bottom, #011C40 0%,#0378A6 100%); 
    color: white !important;
    text-align: center !important; 
}

#homepage 
{
    padding: 50px;
    margin: 15px;
    font-size: 4.5em; 
}

#aboutTitle
{
    padding: 0px;
    margin: 20px;
    font-size: 4.5em; 
    text-align: left;
}

#description
{
    text-align: left;
    margin:20px;
    padding:20px;
}